<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="projectTile">
				<p class="proText">Pokemon API</p>
				<div ng-controller='myCtrl'>
	  				<img src="styles/img/pokemon.png" ng-click="toggleModal()">
	  				<modal-dialog show='modalShown' width='400px' height='60%'>
	  					<p>Pokemon App<p>
	  					<a ui-sref="pokemon"><img src="styles/img/pokeball.png"></a>
    					
	  				</modal-dialog>
  				</div>
  			</div>
		</div>

		<div class="col-xs-6 col-md-4">
			<div class="projectTile">
				<p class="proText">Yoda Speech API</p>
				<div ng-controller='myCtrl'>
	  				<img src="styles/img/Yoda.jpg" ng-click="toggleModal()">
	  				<modal-dialog show='modalShown' width='400px' height='60%'>
	  					<p>Yoda Speech API<p>
	  					<a ui-sref="yoda">Learn to Speech Like Yoda</a><br/><br/>
	  					<a ui-sref="yoda" class="proyoda"><img src="styles/img/yoda1.png"></a>
	  				</modal-dialog>
  				</div>
  			</div>
		</div>

		<div class="col-xs-6 col-md-4">
			<div class="projectTile">
				<p class="proText">Project Number 3</p>
				<div ng-controller='myCtrl'>
	  				<img src="styles/img/background.jpg" ng-click="toggleModal()">
	  				<modal-dialog show='modalShown' width='500px' height='500'>
	  					<p>Modal Content 3<p>
	  					<canvas id='canvas' width="450" height="450"></canvas>
						<button id="start">start</button>
	  				</modal-dialog>
  				</div>
  			</div>
		</div>
	</div>
</div>












