#navz {
	padding-top: 5px;
}

#navzPills {
	float: right;
	/*background-color: red;*/
}


.main {
	position: relative;
	background-image: url("./img/blackwood.jpg");
	width: 100%;
}


.homeCardText {
	text-align: left;
	padding-top: 10px;
	color: white;
	font-size: 70px;
}

.homeCardTextSub{
	text-align: left;
	color: lightblue;
	font-size: 35px;
}

.homeCardImg {
	/*background-color: black;*/
/*	height: 90%;
	width: 30%;*/
	/*margin-left: 60%;*/
	margin-right: 500px;
	height: 100%;
	width: 100%;
	margin-top: 100px;

}

.projectsList {
	margin-left: 100px;
}

.projleft {
	/*width: 90%;
	height: 90%;*/
	/*background-color: white;*/
	margin-left: 150px;
	margin-top: 100px;
	margin-bottom: 150px;
}

.projright {
	/*width: 90%;
	height: 90%;*/
	/*background-color: white;*/
	margin-right: 70px;
}

/*about page*/

.center {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	background-color: gray;
}

.about {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.aboutImg {
	border: 2px;
	border-radius: 25px;
	height: 250px;
}


/*Footer CSS*/

.footer {
	text-align: right;
	background-color: #333;
	bottom: 0;

}

.socialIcon {
	margin-right: 50px;
}

.social {
	display: inline-block;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Projects Css*/

.projectTile {
	padding-top: 200px;
	padding-bottom: 100px;
	text-align: center;
	margin-bottom: 200px;
}

.projectTile p {
	
}

.pro {
	background-color: black;
	width: 100px;
	height: 100px;
}

.proText {
	color: lightblue;
	font-size: 30px;
}

.proyoda {
	padding-top: 20px;
	margin-top: 20px;
}

/*header*/

.nav-pills a {
    color: #ffffff
}

.nav-pills a:hover {
    color: #560000;
    border-radius: 5px;
}

.nav-pills .active a:hover {
    color: #560000;
    border-radius: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: gray;
}


/*Modal*/

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: gray;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
  background-color: gray;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/*Time Dir*/

.time {
	color: white;
}

/*pokemon api*/

.pokemon {
	width: 50%;
	height: 650px;
	text-align: center;
	margin-left: 300px;
	margin-right: 50px;
	background-color: gray;
	margin-bottom: 40px;
}

/*yoda api*/

.yodaText {
	color: white;
	padding-top: 50px;
	font-size: 30px;
}

.yoda {
	width: 50%;
	height: 650px;
	text-align: center;
	margin-left: 300px;
	margin-right: 50px;
	background-color: gray;
	margin-bottom: 40px;
}

.yodas {
	padding-top: 50px;
}

.yodaform {
	padding-top: 25px;
}

/*Jquery snake game*/

.snake {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;

}

.snakestart {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 25px;
}

.jsnake {
	color: lightblue;
	padding-bottom: 20px;
}

/*weather api*/

.weather {
	width: 300px;
	height: 50px;
	padding-top: 100px;
}

.weathp {
	color: white;
	text-align: center;
	padding-top: 10px;
}

.weathh {
	text-align: center;
	color: white;
	padding-top: 10px;
}


















